<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shakti girl's college</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/about.css')}}">>
</head>
<body>
	<header>
		<div class="container">
			<h1>SHAKTI GIRL'S COLLEGE</h1>
			<nav>
				<ul>
					<li><a href="#about">About</a></li>
					<li><a href="#facilities">Facilities</a></li>
					<li><a href="#programs">Programs</a></li>
					<li><a href="#admission">Admission</a></li>
					<li><a href="#events">Events</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<img src="{{url_for('static', filename='images/MyDesign.png.jpeg')}}">

	<section id="about" class="content-section">
		<div class="container">
			<h2>About Us Shakti girl's college</h2>
			<p>Shakti girl's college, where education meets innovation. Our commitment is to empower women with knowledge and skills...</p>
			<p>Shakti girl's college has been featured on 'india today' since its conception and has continued to claim its ranking ...</p>
		</div>
	</section>

    <section id="facilities" class="content-section">
		<div class="container">
			<h2>State of the art Facilities</h2>
			<p>Well-equipped classroom with modern teaching aids and technology,library with diverse collection of books,specialized labs and other practical learning space... </p>
		</div>
	</section>

	<img src="{{url_for('static', filename='images/PR.png.jpeg')}}">


    <section id="admission" class="content-section">
		<div class="container">
			<h2>Admission Process</h2>
			<p>Shakti girl's college adimission process is done in an online mode</p>
			<p>Candidates can take admission to the various courses through Shakti-CET and other entrance exams followed by the micro presentation and personal interview</p>
		</div>
	</section>

	<section id="events" class="content-section">
		<div class="container">
			<h2>Upcoming Events</h2>
			<div class="event">
				<h3>Open Doors-Fall 2023</h3>
				<p>Join us for our Open Doors event on [Date]. Explore our campus, meet faculty members and learn more about our academic programs</p>
			</div>
			<div class="event">
				<h3>Experts series</h3>
			<p>Don't miss out on upcoming Experts series featuring industry experts and thought leaders. </p>
		    </div>
		    <!-- add more events as needed -->
		</div>
	</section>

	
    <section id="contact" class="content-section bg-light">
    	<div class="container">
    		<h2>Contact Us</h2>
    		<p>Have questions or need more information? Reach out to us and our friendly staff will be happy to assist you. whether you're an aspiring student, a parent, or a community member, we value your inquires and look forward to connecting with you.</p>
    		<address>
    			Shakti Girl's college<br>
				757 temple road<br>
				kamanahalli,Bangalore 570024<br>
				Phone: (0821) 223-4567<br>
				Email: info@shaktigirlscollege.edu
    		</address>
    	</div>
    </section>

    <footer>
    	<div class="container">
    		<p>&copy; 2023 Shakti girl's college. All rights reserved.</p>
    	</div>
    </footer>


</body>
</html>