body, h1, h2, p, ul, li, address {
	margin: 0;
	pad: 0;
}

body{
	front-family: 'Arial', sans-serif;
	line-height: 1.6;
	background-color: #f8f9db;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header{
	background-color: #3498db;
	color: #ffff;
	text-align: center;
	padding: 20px 0;
}

nav{
	display: flex;
	justify-content: center;
}

nav a {
	text-decoration: none;
	color: #ffff;
	margin: 0 20px;
	font-weight: bold;
	font-size: 1.2em;
	transition: color 0.3s ease-in-out;
}

nav a:hover{
	color: #ffd700;
}

.content-section{
	padding: 40px 0;
}

.content-section h2{
	color: #3333;
}

#about{
	background-color: #ffff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
}

#facilities {
	background-color: #f8f9fa;
}

#programs ul {
	list-style-type: none;
	padding: 0;
}

#programs li {
	background-color: #3498db;
	color: #ffff;
	padding: 10px;
	margin-bottom: 10px;
}

#admission {
	background-color: #ffff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
}

#events {
	background-color: #f8f9fa;
}

#contact {
	background-color: #ffff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
}

address {
	font-style: normal;
}

footer {
	background-color: #3333;
	color: #ffff;
	text-align: center;
	padding: 20px;
}

@media only screen and (max-width: 768px) {
	nav{
		flex-direction: column;
		align-items: center;
	}
	nav a {
		margin: 10px 0;
	}
}